*{
    margin: 0;
    padding: 0;
}

.profile{
    width: 100%;
    height: 82.6vh;
    background-color: rgb(218, 218, 218);
}

.conn{
    position: relative;
}

.upload{
    width: 170px;
    font-size: 10px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #343a40;
    border-radius: 4px;
}

.error{
    text-align: center;
    font-size: 12px;
    font-family: cursive;
}

.hdr {
    color: #34495e;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.dta{
    border-width: 2px;
    border-radius: 30px;
    color: #34495e;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.bnm{
    width: 100%;
    text-align: center;
    padding: 10px;
    color:#004085;
    background-color:#cce5ff;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow:-5px -5px 10px rgb(255,255,255),5px 5px 10px rgb(71, 71, 71) ;
    
}

.bnm:hover{
    color:#004085;
    background-color:#cce5ff;
    transform: scale(.95);
    box-shadow: 5px 5px 8px rgb(182, 181, 181),-5px -5px 8px white;
}

